{% extends "app/base.html" %} {% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    {% block login %}
    <section class="vh-100 gradient-custom">
      <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
          <div class="col-12 col-lg-9 col-xl-7">
            <div
              class="card shadow-2-strong card-registration"
              style="border-radius: 15px"
            >
              <div class="card-body p-4 p-md-5">
                <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">ĐĂNG NHẬP</h3>
                <form method="POST" action="">
                  {%csrf_token%}

                  <div class="row">
                    <div class="col-md-6 mb-4 pb-2">
                      <div data-mdb-input-init class="form-outline">
                        <label class="form-label" for="userName"
                          >User Name</label
                        >
                      </div>
                      <input type="text" name='username' id="userName123" class="form-control form-control-lg" />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 mb-4 pb-2">
                      <div data-mdb-input-init class="form-outline">
                        <label class="form-label" for="userName"
                          >Password</label
                        >
                      </div>
                      <input type="password" name='password' id="passWord123" class="form-control form-control-lg" />
                    </div>
                    
                  </div>

                  <div class="mt-4 pt-2">
                    <input
                      data-mdb-ripple-init
                      class="btn btn-primary btn-lg"
                      type="submit"
                      value="Log in"
                    />
                  </div>
                  

                  {% for message in messages  %}
                  <p id='message' class="text-center h6 fw-bold mb-5 mx-1 mx-md-4 mt-4">{{message}}</p>

                  {% endfor %}
                  <p id='message' class="text-center h6 fw-bold mb-5 mx-1 mx-md-4 mt-4">You don't have an account? <a href={% url 'register' %}>Register!</a>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endblock login %}
  </body>
</html>
