{% extends "app/base.html" %} {% load static %}{% load humanize %} 
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    {% block search %}
    
    <h3>Kết quả tìm kiếm cho {{searched}}:</h3> <br/>
    <div class="row row__thumbnail">
      {% for product in keys %}
      <div class="col-lg-3 thumbnail-content">
        <div style="width:100%; justify-content: center; margin-bottom:10px;" >
          <a href="{% url "detail" %}?id={{product.id}}"><img class="thumbnail" src="{{product.ImageURL}}" /></a>
        </div>
        
        <div class="box-element box-element__check  product">
          <h6 style="font-size: 12px; color: #dc3545; margin-bottom: -10px;">{{product.name}}</h6>
          <hr />
          
          <button data-product={{product.id}} data-action='add' class="btn btn-outline-dark add-btn update-cart" style="font-size: 8px; margin-top: -20px;">Thêm</button>
          <a class="btn btn-outline-dark" href="{% url "detail" %}?id={{product.id}} " style="font-size: 8px; margin-top: -20px;">Xem</a>
          <h4 style="display: inline-block; float: right; font-size: 15px; color:#dc3545; margin-top: -5px;">
            {{product.price | floatformat:0|intcomma}}đ
          </h4>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endblock search %}
  </body>
</html>
