{% extends "app/base.html" %} {% load static %}{% load humanize %} 
    {% block search %}
    <div class="row row__thumbnail gx-3 gy-4">
      <h3>Kết quả tìm kiếm cho "{{searched}}":</h3>
      {% for product in keys %}
      <div class="col-lg-2 d-flex">
        <div class="box-element box-element__check product h-100 w-100 d-flex flex-column justify-content-between">
      <a href="{% url "detail" %}?id={{product.id}}">
        <img class="thumbnail img-fluid" src="{{product.ImageURL}}" />
      </a>
      <h6 style="font-size: 15px; font-weight: 400; margin-top:5px;">{{ product.name }}</h6>
      <h4 class="text-danger fw-bold">
        {{ product.price | floatformat:0|intcomma }}đ
      </h4>
    </div>
  </div>
      {% endfor %}
    </div>
    {% endblock search %}
  